@import "../../variables";


.news {
  // display: flex;
  // align-items: center;

  .news__title {
    display: inline-block;
    vertical-align: middle;
    font-family: $fontfamily-mincho;
    font-size: $fontsize-xxl;
    line-height: 57px;
    margin-bottom: 0;
    margin-right: 16px;

    @media screen and (max-width: $breakpoint-lg) {
      font-size: $fontsize-l;
      line-height: 28px;
    }
  }

  .news__sub-title {
    font-size: $fontsize-m;
    display: inline-block;
    vertical-align: middle;
    line-height: 23px;
    margin-bottom: -6px;

    @media screen and (max-width: $breakpoint-lg) {
    font-size: $fontsize-s;
    margin: 0;
    }
  }
}