@import "../../variables";


.news {
  display: flex;
  align-items: center;

  .news__title {
    width: 105px;
    height: 57px;
    font-family: $fontfamily-mincho;
    font-size: 40px;
    line-height: 57px;
    margin-bottom: 0;
    margin-right: 16px;


    @media screen and (max-width: $breakpoint-lg) {
      width: 53px;
      height: 24px;
      font-size: 20px;
    }
  }

  .news__sub-title {
    width: 64px;
    height: 23px;
    line-height: 23px;
    margin: 0;
  }

  @media screen and (max-width: $breakpoint-lg) {
    width: 64px;
    height: 23px;
    font-size: 16px;
  }
}