@import "../../variables";

// 通常時のスタイル
.plan {

  .plan__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$orange_zorba;
    color: $white;
    font-size: $fontsize-l;
    height: 69px;
    line-height: 29px;
    font-weight: 700;
    margin: 0;
  }

  .plan__price-outer {
    background-color: $gray_desertStorm;
    border: 1px solid $gray_gainsboro;

    .and {
      padding-top: 25px;
      padding-right: 4px;
      font-family: $fontfamily-gothic;
      font-size: $fontsize-l;
    }

    .plan__price {
      display: flex;
      justify-content: center;
      padding: 23px 0 16px;
      font-family: 'Noto Sans JP';
      font-weight: 700;
      font-size: 40px;
      color: $orange_bistre;
      margin: 0;
    }

    .plan__month__price {
      display: flex;
      justify-content: center;
      padding-bottom: 24px;
      margin: 0;
    }
  }

  .plan__item {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $white;
  }

  .plan__item :nth-child(1) {
    border-top: 1px;
  }

  .plan__item :nth-child(1),
  .plan__item :nth-child(2),
  .plan__item :nth-child(3) {
    border-bottom: 0px;
  }

  .plan__item-list {
    text-align: center;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $fontsize-s;
    box-sizing: border-box;
    border: 1px solid $gray_gainsboro;
  }
}

// スタンダード時のスタイル
.plan--std {
  margin-top: 60px;
  box-sizing: content-box;
  outline: 5px solid $orange_bistre;

  .plan__title {
    background-color: $orange_bistre;
  }
}