<div class="wrap">
  <div class="plan">
    <h2 class="plan__title">プランテキスト</h2>
    <div class="plan__price-outer">
      <p class="plan__price"><span class="and">¥</span>5,000</p>
      <p class="plan__month__price">月額</p>
    </div>
    <ul class="plan__item">
      <li class="plan__item-list">入会金0円</li>
      <li class="plan__item-list">平日 : 9時〜17時</li>
      <li class="plan__item-list">土日祝 : 利用ナシ</li>
      <li class="plan__item-list">コアタイムでの利用に最適なプラン</li>
    </ul>
  </div>

  <div class="plan plan-bold">
    <h2 class="plan__title">プランテキスト</h2>
    <div class="plan__price-outer">
      <p class="plan__price"><span class="and">¥</span>5,000</p>
      <p class="plan__month__price">月額</p>
    </div>
    <ul class="plan__item">
      <li class="plan__item-list">入会金0円</li>
      <li class="plan__item-list">平日 : 9時〜17時</li>
      <li class="plan__item-list">土日祝 : 利用ナシ</li>
      <li class="plan__item-list">コアタイムでの利用に最適なプラン</li>
    </ul>
  </div>
</div>
