<div class="top">
  <div class="top__kv">
    <p class="top__kv-text">
      そうだ。
      <br />カフェに行こう。
    </p>
  </div>
  <div class="top__content">
    <div class="top__content-inner">
      <div class="message">
        <h2 class="message__title">
          カフェで読書＆コワーキング。快適のフロアスペース空 間。
        </h2>
        <p class="message__text">
          カフェエリアでコーヒーを注文し、ブックエリアでお好みの本を選び、コワーキングスペースでコーヒーと共に読書を楽しむ。
          学校・仕事帰りに、平日の日中に、休日にゆっくり...さまざまなライフスタイルに合わせてご利用いただける多彩なプランをご用意しております。
        </p>
      </div>
    </div>
  </div>
</div>
