@import "../../variables";

header {


  .header__inner {
    position: relative;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: $white;
    background-color: $black;

    @media screen and (min-width:$breakpoint-xl) {
      height: 90px;
      background-color: $gray_nobel;
      width: 100%;
    }

    .header__title {
      padding-left: 16px;
      width: 120px;
      height: 20.56px;

      @media screen and (min-width:$breakpoint-xl) {
        width: 140px;
        height: 24px;
        padding-left: 30px;
      }

      >a>img {
        width: 100%;
        vertical-align: top;

      }
    }

    .header__list {
      list-style: none;
      display: flex;
      margin: 0;

      .header__list:last-child {
        padding-right: 50px;
      }

      .header__item {
        display: none;
        text-transform: uppercase;
        padding-right: 40px;
        font-size: $fontsize-s;

        @media screen and (min-width:$breakpoint-xl) {
          display: block;
        }
      }
    }
  }
}

.card {
  position: relative;
}

/*チェックボックスを非表示*/
#checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
}

.menu-trigger {
  position: relative;
  width: 32px;
  height: 26px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #172a22;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 11px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/*チェックボックスにチェックが入ったら*/
#checkbox:checked+label span:nth-of-type(1) {
  transform: translateY(11px) rotate(-45deg);
}

#checkbox:checked+label span:nth-of-type(2) {
  opacity: 0;
}

#checkbox:checked+label span:nth-of-type(3) {
  transform: translateY(-11px) rotate(45deg);
}

div {
  display: none;
}

#checkbox:checked+label+div {
  display: block;
}
