<header>
  <div class="header__inner">
    <div class="header__title">
      <a href="#"><img src="../../../img/header.png" alt="ヘッダーロゴ"></a>
    </div>
    <ul class="header__list">
      <li class="header__item">
        <a href="#" class="header__link">Home</a>
      </li>
      <li class="header__item" id="concept">
        <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
          aria-controls="collapseExample" href="#" class="header__link" id="concept">
          Concept
        </a>
        <ul class="nav gbl-nav">
          <li class="nav__item"><a class="nav__link" href="#">ブログアーカイブ</a></li>
          <li class="nav__item"><a class="nav__link" href="#">お知らせアーカイブ</a></li>
          <li class="nav__item"><a class="nav__link" href="#">イベントアーカイブ</a></li>
          <li class="nav__item"><a class="nav__link" href="#">インタービューアーカイブ</a>
          <li class="nav__item"><a class="nav__link" href="#">FAQページ</a></li>
          <li class="nav__item"><a class="nav__link" href="#">固定ページ(デフォルト)</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Concept</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Service</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Floor</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Access</a></li>
        </ul>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Service</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Floor</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Interview</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Blog</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Access</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Download</a>
      </li>
      </a>
      <div class="ham-menu">
        <input id="checkbox" type="checkbox" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample"
          role="button" aria-expanded="false" aria-controls="collapseExample">
        <label id="menu01" class="menu-trigger" for="checkbox">
          <span class="ham-menu-b1"></span>
          <span class="ham-menu-b2"></span>
          <span class="ham-menu-b3"></span>
        </label>
      </div>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="collapse__content">
      <ul class="collapse__list">
        <li class="collapse__item"><a class="collapse__link">Home</a></li>
        <li class="collapse__item collapse__item-concept">
          <a class="collapse__link" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false"
            aria-controls="multiCollapseExample1 CollapseExample2">Concept</a>
          <div class="concept-button">
            <span></span>
            <span></span>
          </div>
        </li>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <ul class="nav sub-nav">
              <li class="nav__item"><a class="nav__link" href="#">ブログアーカイブ</a></li>
              <li class="nav__item"><a class="nav__link" href="#">お知らせアーカイブ</a></li>
              <li class="nav__item"><a class="nav__link" href="#">イベントアーカイブ</a></li>
              <li class="nav__item"><a class="nav__link" href="#">インタービューアーカイブ</a>
              <li class="nav__item"><a class="nav__link" href="#">FAQページ</a></li>
              <li class="nav__item"><a class="nav__link" href="#">固定ページ(デフォルト)</a></li>
              <li class="nav__item"><a class="nav__link" href="#">Concept</a></li>
              <li class="nav__item"><a class="nav__link" href="#">Service</a></li>
              <li class="nav__item"><a class="nav__link" href="#">Floor</a></li>
              <li class="nav__item"><a class="nav__link" href="#">Access</a></li>
            </ul>
          </div>
        </div>
        <li class="collapse__item"><a class="collapse__link">Service</a></li>
        <li class="collapse__item"><a class="collapse__link">Floor</a></li>
        <li class="collapse__item"><a class="collapse__link">Interview</a></li>
        <li class="collapse__item"><a class="collapse__link">Blog</a></li>
        <li class="collapse__item"><a class="collapse__link">Access</a></li>
        <li class="collapse__item"><a class="collapse__link">Download</a></li>
      </ul>
    </div>
  </div>
  </ul>
</header>
