@import '../../variables';

.news {

  .news__content {
    margin-top: 32px;
    margin-bottom: 30px;

    .news__item {
      height: 85px;
      padding: 20px 26px 20px 20px;
      margin: 0;
      background-color: $white;
      border: 1px solid $gray_gainsboro;

      .news__link {
        text-decoration: none;
        color: inherit;
      }


      .news__date {
        margin: 0;
        line-height: 12px;
        margin-bottom: 10px;
        color: $gray_nobel;
        font-size: $fontsize-xs;
      }

      .news__text {
        margin: 0;
        line-height: 23px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  // お知らせ一覧のスタイル

  .news__info {
    text-align: right;

    .news-and-events-more {
      margin-top: 0;
    }
  }
}

.news__content:nth-child(1) {
  border-bottom: 0px solid $gray_gainsboro;
}

.news__content:nth-child(2) {
  border-bottom: 0px solid $gray_gainsboro;
}

.news__content:nth-child(3) {
  border-bottom: 0px solid $gray_gainsboro;
}