@import "../../variables";

footer {
  .footer__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    padding: 52px 0;
    height: 240px;
    border-bottom: 1px solid $orange_zorba;
    @media screen and (max-width: $breakpoint-md) {
      padding: 32px 0;
    }

    @media screen and (max-width: $breakpoint-md) {
      height: 200px;
    }

    .footer__title {
      > img {
        width: 150px;
        height: 25.7px;
      }
    }

    .footer__address {
      padding-top: 20px;
      text-align: center;
      font-size: $fontsize-s;
      line-height: 28px;
    }
  }

  .footer__icons {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 20px;
    width: 98px;
    height: 14px;
  }

  .footer__nav-list {
    background-color: $white_smoke;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    padding: 0;
    margin: 0;

    @media screen and (max-width: $breakpoint-md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: auto;
      padding: 16px;
    }

    .footer__nav-item {
      text-transform: uppercase;
      align-items: center;
      border-right: 1px solid $black;
      font-size: $fontsize-s;
      padding: 0 8px;

      @media screen and (max-width: $breakpoint-md) {
        border: none;
        padding: 8px 0;
        height: 30px;
      }
      .footer__nav-item:last-child {
        border-right: none;
      }
    }
  }
  .footer__copy-right {
    font-size: $fontsize-xs;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $black;
  }
}
