<footer>
  <div class="footer__contact">
    <div class="message">
      <h2 class="message__title">
        <img src="../../../img/footer.png" alt="ロゴ" />
      </h2>
      <p class="message__text">
        〒532-0011　大阪市淀川区西中島6丁目8-23テスト TEL.06-1234-5678
        FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 / 不定休
      </p>
      w
    </div>
  </div>
  <ul class="footer__icons">
    <li class="footer__icon-item"><i class="fa-brands fa-facebook"></i></li>
    <li class="footer__icon-item"><i class="fa-brands fa-twitter"></i></li>
    <li class="footer__icon-item"><i class="fa-brands fa-instagram"></i></li>
    <li class="footer__icon-item"><i class="fa-solid fa-rss"></i></li>
  </ul>
  <div class="footer___nav-list"></div>
  <div class="footer__copy-right"></div>
</footer>
