<footer>
  <div class="footer__contact">
    <div class="footer__title">
      <img src="../../../img/footer.png" alt="ロゴ" />
    </div>
    <div class="footer__address">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト <br />
      TEL.06-1234-5678 FAX.06-1234-5678　営業時間 / 9:00 - 22:00　定休日 /
      不定休
    </div>
    <ul class="footer__icons">
      <li class="footer__icon-item"><i class="fa-brands fa-facebook"></i></li>
      <li class="footer__icon-item"><i class="fa-brands fa-twitter"></i></li>
      <li class="footer__icon-item"><i class="fa-brands fa-instagram"></i></li>
      <li class="footer__icon-item"><i class="fa-solid fa-rss"></i></li>
    </ul>
  </div>

  <ul class="footer__nav-list">
    <li class="footer__nav-item">Home</li>
    <li class="footer__nav-item">Concept</li>
    <li class="footer__nav-item">Service</li>
    <li class="footer__nav-item">Floor</li>
    <li class="footer__nav-item">Interview</li>
    <li class="footer__nav-item">Blog</li>
    <li class="footer__nav-item">Access</li>
    <li class="footer__nav-item">Download</li>
  </ul>
  <div class="footer__copy-right">
    Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
  </div>
</footer>
