@import '../../variables';

.massage {
  .text-title {
    min-width: 160px;
    height: 30px;
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
}