@import '../../variables';

.message {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

  .message__title {
    font-size: $fontsize-xl;
    font-family: $fontfamily-mincho;
    line-height: 54px;
    margin-bottom: 10px;
    word-wrap: break-word;

    @media screen and (max-width:$breakpoint-lg) {
      font-size: 20px;
      font-size: $fontsize-l;
      line-height: 30px;
      margin-bottom: 6px;
    }
  }

  .message__text {
    font-size: $fontsize-s;
    line-height: 36px;
    word-wrap: normal;
    margin: 0px;
    word-wrap: break-word;

    @media screen and (max-width:$breakpoint-lg) {
      line-height: 28px;
    }
  }
}
