@import "../../variables";

.about {

  .about__inner {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;

    @media screen and (min-width:$breakpoint-lg) {
      width: 100%;
      max-width: 960px;
    }

    .about__img {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      >img {
        width: 50%;
        max-width: 360px;
        max-height: 340px;

        @media screen and (min-width:$breakpoint-lg) {
          width: 240px;
          height: 240px;
        }
      }

      @media screen and (min-width:$breakpoint-lg) {
        flex-wrap: nowrap;
      }
    }

    .message {
      background-color: $white_smoke;
      padding: 32px 20px;
      margin: 0 auto;
      width: 100%;

      @media screen and (min-width:$breakpoint-lg) {
        padding: 52px 20px;
      }

      .message__title {
        color: $orange_bistre;
      }
    }
  }
}