@import "../../variables";

.about {

  .about__inner {
    margin: 0 auto;
    padding: 0 135px 40px;

    @media screen and (min-width:$breakpoint-lg) {
      padding: 0 16px 100px;
    }

    .about__img {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      @media screen and (min-width:$breakpoint-lg) {
        display: flex;
      }

      >img {
        max-width: 360px;
        max-height: 340px;
        width: 100%;
        overflow: hidden;
      }

      @media screen and (min-width:$breakpoint-lg) {
        flex-wrap: nowrap;
      }
    }

    .message {
      background-color: $white_smoke;
      padding: 32px 20px;
      width: 100%;

      @media screen and (min-width:$breakpoint-lg) {
        padding: 52px 20px;
      }

      .message__title {
        color: $orange_bistre;
      }
    }
  }
}