@import "../../variables";

.about {

  .about__inner {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;

    @media screen and (min-width:$breakpoint-lg) {
      width: 100%;
      max-width: 960px;
    }

    .about__img {
      display: grid;
      grid-template-columns: minmax(auto 360px);
      grid-template-rows: minmax(auto 340px);

      .about__img-01 {
        grid-row: 1;
        grid-column: 1;
      }

      .about__img-02 {
        grid-row: 1;
        grid-column: 2;
      }

      .about__img-03 {
        grid-row: 2;
        grid-column: 1;
      }

      .about__img-04 {
        grid-row: 2;
        grid-column: 2;
      }

      @media screen and (min-width:$breakpoint-lg) {
        display: flex;
      }

      >img {
        max-width: 360px;
        max-height: 340px;
        width: 100%;
        overflow: hidden;

        @media screen and (min-width:$breakpoint-lg) {
          max-width: 240px;
          max-height: 240px;
        }
      }

      @media screen and (min-width:$breakpoint-lg) {
        flex-wrap: nowrap;
      }
    }

    .message {
      background-color: $white_smoke;
      padding: 32px 20px;
      width: 100%;
      margin: 0 auto 100px;

      @media screen and (min-width:$breakpoint-lg) {
        margin: 0 auto 40px;
        padding: 52px 20px;
      }

      .message__title {
        color: $orange_bistre;
      }
    }
  }
}
