@import "../../variables";

.cards__wrap {
  display: flex;
  justify-content: center;
  padding: 0 24px 90px;
  @media screen and (max-width: $breakpoint-md) {
    padding: 0 24px;
  }

  .card:nth-child(2) .card-title {
    left: 30px;

    @media screen and (max-width: $breakpoint-md) {
      left: 6px;
    }
  }
  @media screen and (max-width: $breakpoint-md) {
    display: block;
  }

  .card {
    flex: 1;
    @media screen and (max-width: $breakpoint-md) {
      padding-bottom: 40px;
    }

    .card-body {
      background-color: $white_smoke;

      .card-title {
        text-transform: uppercase;

        .card:nth-child(2) > .card-title {
          left: 30px;
        }
      }
      .img-frame {
        width: auto;
        img {
          width: 100%;
        }
      }
    }
  }

  .card:nth-child(2) {
    padding: 0 24px;

    @media screen and (max-width: $breakpoint-md) {
      padding: 0 0 40px;
    }
  }
}
