@import "../../variables";

header {
  .bg-light {
    background-color: $gray_nobel !important;
    @media screen and (max-width: $breakpoint-xl) {
      background-color: $black !important;
    }
  }

  .header__inner {
    padding: 0;
    margin: 0;
    .navbar-brand {
      display: flex;
      padding: 33px 0 33px 30px;
      @media screen and (max-width: $breakpoint-xl) {
        padding: 20px 0 20px 16px;
      }
    }

    .fa-solid {
      color: $white;
    }

    .navbar-toggler {
      border: none;
      padding: 22px 16px 22px 0;
      box-shadow: none;
    }

    .navbar-light {
      display: none;
    }
    .header__logo {
      width: 140px;
    }

    .header__list {
      flex-grow: inherit;
      padding-right: 16px;

      @media screen and (max-width: $breakpoint-xl) {
        padding-left: 16px;
      }
      .navbar-nav {
        padding: 0;
        margin: 0 !important;

        .nav-item {
          color: $white;
          font-size: $fontsize-s;
          text-transform: uppercase;

          .concept__wrap {
            display: flex;
            justify-content: space-between;

            .plus-btn {
              display: flex;
              align-items: center;
              @media screen and (min-width: $breakpoint-xl) {
                display: none;
              }
            }
          }

          .nav-link {
            color: $white !important;
            transition: all 2s ease;
            @media screen and (max-width: $breakpoint-xl) {
              padding: 16px 0 !important;
            }
          }

          .nav-link::after {
            display: none;
          }
        }

        .dropdown-menu {
          position: absolute;
          top: 71px;
          background-color: $black;
          width: 220px;
          padding: 0;
          margin: 0 !important;
          border: none;
          border-radius: 0%;
          @media screen and (max-width: $breakpoint-xl) {
            position: static;
          }

          .dropdown-item {
            display: flex;
            align-items: center;
            padding-left: 18px;
            height: 56px;
            color: $white;
            font-size: $fontsize-s;
            transition: all 0.2s ease;

            &:hover {
              background-color: $orange_bistre;
              @media screen and (max-width: $breakpoint-xl) {
                background-color: $black !important;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: $breakpoint-xl) {
    .dropdown:hover > .dropdown-menu {
      display: block;
    }
  }
}
