<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="header__inner container-fluid">
      <a class="navbar-brand" href="#">
        <img class="header__logo" src="../../../img/header.png" alt="ロゴ" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fa-solid fa-bars"></i>
      </button>
      <div
        class="header__list collapse navbar-collapse"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              class="btn btn-primary"
              data-bs-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample1"
              Link
              with
              href
            >
              Concept
            </a>
            <ul
              class="dropdown-menu"
              class="collapse"
              id="collapseExample1"
              aria-labelledby="navbarDropdown"
            >
              <li>
                <a class="dropdown-item" href="#">ブログアーカイブ</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">お知らせアーカイブ</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">イベントアーカイブ</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">インタービューアーカイブ</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">FAQページ</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">固定ページ(デフォルト)</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Concept</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Service</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Floor</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Access</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Floor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Interviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Access</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Download</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- 
<nav class="navbar navbar-expand-xl">
  <div class="hamberger-header">
    <a href="#"
      ><img src="../../../img/header.png" class="img-switch" alt="switch"
    /></a>
  </div>
  <div class="collapse navbar-collapse" id="hum1bar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
      <li class="nav-item dropdown">
        <div class="mini-hamberger-header">
          <a href="#" class="nav-link">CONCEPT</a>
          <img
            src="../../../img/about-1.jpg"
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#mini-navbar"
            aria-controls="mini-navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          />
        </div>
        <div class="collapse" id="mini-navbar">
          <a class="dropdown-item" href="#">ブログアーカイブ</a>
          <a class="dropdown-item" href="#">お知らせアーカイブ</a>
          <a class="dropdown-item" href="#">イベントアーカイブ</a>
          <a class="dropdown-item" href="#">インタビューアーカイブ</a>
          <a class="dropdown-item" href="#">FAQページ</a>
          <a class="dropdown-item" href="#">固定ページ(デフォルト)</a>
          <a class="dropdown-item" href="#">CONCEPT</a>
          <a class="dropdown-item" href="#">SERVICE</a>
          <a class="dropdown-item" href="#">FLOOR</a>
          <a class="dropdown-item" href="#">ACCESS</a>
        </div>
      </li>
      <li class="nav-item"><a href="#" class="nav-link">SERVICE</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FLOOR</a></li>
      <li class="nav-item"><a href="#" class="nav-link">INTERVIEW</a></li>
      <li class="nav-item"><a href="#" class="nav-link">BLOG</a></li>
      <li class="nav-item"><a href="#" class="nav-link">ACCESS</a></li>
      <li class="nav-item"><a href="#" class="nav-link">DOWNLOAD</a></li>
    </ul>
  </div>
</nav> -->
