<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid header__inner">
      <a class="navbar-brand" href="#">
        <img class="header-logo" src="../../../img/header.png" alt="" />
      </a>
      <div class="header__list">
        <button class="navbar-toggler">
          <span
            class="navbar-toggler-icon"
            data-bs-toggle="collapse"
            href="#collapseExample"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
          </span>
        </button>
        <ul class="gbl-nav collapse" id="collapseExample">
          <li class="gbl-nav__item">
            <a class="gbl-nav__link" href="#">Home</a>
          </li>
          <li class="gbl-nav__item">
            <a class="gbl-nav__link" href="#" id="concept">Concept</a>
          </li>
          <ul class="sub-nav">
            <li class="sub-nav__item">
              <a class="sub-nav__link" href="#">ブログアーカイブ</a>
            </li>
            <li class="sub-nav__item">
              <a class="sub-nav__link" href="#">お知らせアーカイブ</a>
            </li>
            <li class="sub-nav__item">
              <a class="sub-nav__link" href="#">イベントアーカイブ</a>
            </li>
            <li class="sub-nav__item">
              <a class="sub-nav__link" href="#">インタービューアーカイブ</a>
            </li>
            <li class="sub-nav__item">
              <a class="sub-nav__link" href="#">FAQページ</a>
            </li>
            <li class="sub-nav__item">
              <a class="sub-nav__link" href="#">固定ページ(デフォルト)</a>
            </li>
            <li class="sub-nav__item">
              <a class="sub-nav__link" href="#">Concept</a>
            </li>
            <li class="sub-nav__item">
              <a class="sub-nav__link" href="#">Service</a>
            </li>
            <li class="sub-nav__item">
              <a class="sub-nav__link" href="#">Floor</a>
            </li>
            <li class="sub-nav__item">
              <a class="sub-nav__link" href="#">Access</a>
            </li>
          </ul>
          <li class="gbl-nav__item">
            <a class="gbl-nav__link" href="#">Service</a>
          </li>
          <li class="gbl-nav__item">
            <a class="gbl-nav__link" href="#">Floor</a>
          </li>
          <li class="gbl-nav__item">
            <a class="gbl-nav__link" href="#">Interview</a>
          </li>
          <li class="gbl-nav__item">
            <a class="gbl-nav__link" href="#">Blog</a>
          </li>
          <li class="gbl-nav__item">
            <a class="gbl-nav__link" href="#">Access</a>
          </li>
          <li class="gbl-nav__item">
            <a class="gbl-nav__link" href="#">Download</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
